# Dependency directories
**/node_modules/

# dotenv environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
**/coverage/
*.lcov
.nyc_output

# Other
.DS_Store
Thumbs.db